@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

/* ================================== Tags ===================================*/

html{
  height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
	padding: 0;
	background: url(../img/hack.jpg) no-repeat center center fixed;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
}

/* ================================= Classes =================================*/

/* CUSTOM CLASSES */

.bg-white {
  background-color: rgba(255,255,255,0.7);
}

.bg-white-1 {
  background-color: rgba(255,255,255,0.5);
}

/* =================================== ID's ==================================*/

#page {
  color: #DDD !important;	
}

#sponsors {
  margin-bottom: 30px;
}

#sponsor-title {
  padding-left: 40px;
}

#info {
  width: 100%;
  color: #000;
}

#top h2 {
	text-align: center;
	font-size: 5em;
	margin: 50px auto 30px auto;
}

/* =============================== Media Queries =============================*/

@media (max-width: 992px) {
  .sp-col { /* sponsors columns */
    padding: 30px 0px 15px 0px;
  }
  .row {
    margin: 0px !important;
  }
  #sponsor-title {
    padding-left: 0px;
  }
}
